CARTRIDGES

HASH:
# SOCKO: testCartridge.txt #

JSON:
"_SOCKO": "JSONCARTRIDGE"

MULTILINESLASH:
/* SOCKO: MULTILINECARTRIDGE */

NATIVE:
{{<< SOCKO: NATIVECARTRIDGE >>}}

SLASH:
// SOCKO: SLASHCARTRIDGE //

XML:
<!-- SOCKO: XMLCARTRIDGE -->

COLLECTORSREGEXP

HASH:
# SOCKO:COLLECT:-1:R:HASHCOLLECTOR.* #

JSON:

"_SOCKO:COLLECT": "0:R:JSONCOLLECTOR.*"

MULTILINESLASH:

/* SOCKO:COLLECT:1:R:MULTILINESLASHCOLLECTOR.* */

NATIVE:

{{<< SOCKO:COLLECT:2:R:NATIVECOLLECTOR.* >>}}

SLASH:
// SOCKO:COLLECT:3:R:SLASHCOLLECTOR.* //

XML:
<!-- SOCKO:COLLECT:4:R:XMLCOLLECTOR.* -->

COLLECTORSGLOB:

HASH:
# SOCKO:COLLECT:-1:G:HASHCOLLECTOR* #

JSON:

"_SOCKO:COLLECT": "0:G:JSONCOLLECTOR*"

MULTILINESLASH:

/* SOCKO:COLLECT:1:G:MULTILINESLASHCOLLECTOR* */

NATIVE:

{{<< SOCKO:COLLECT:2:G:NATIVECOLLECTOR* >>}}

SLASH:
// SOCKO:COLLECT:3:G:SLASHCOLLECTOR* //

XML:
<!-- SOCKO:COLLECT:4:G:XMLCOLLECTOR* -->